# dependencies
/node_modules

# misc
.DS_Store
.env
.env.development.local
.env.test.local
.env.production.local
.env.*local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#editor settings
.vscode

package-lock.json
build
dist
.idea
out
.log
.yarn
.yarnrc
